
    <main>
      <h1>How to Be Happy</h1>
      <h2>Your Pathway to Awesomeness</h2>
      <div class='pics_and_associated_material_header' >
        <img id="header_image" src="/img/happy_with_balloons.jpeg" alt="happy balloon picture">
        <br>
        Smileystore.com
        <br>
        <a class='source' href="http://www.smileystore.com/12017/Smiley-Face-Balloons">original source</a>
      </div>
      <p
        id='follow_steps'><strong>Follow these easy steps, and you will find your happiness level goes up, up, and away!</strong>
      </p>
      <div class=ways_to_get_happy>
        <h2>Exercise Every Day</h2>
        <ol>
          <li> work out with a friend, or go to a group exercise class</li>
          <li> choose an activity that is fun</li>
          <li> listen to music that is <em>motivational</em></li>
          <li> do some weightlifting - your muscles will get strong!</li>
        </ol>
        <a class='link' href="https://draxe.com/benefits-of-exercise/">Click here to see the benefits of exercise!</a>
      </div>
      <br>
      <div class=ways_to_get_happy>
        <h2>Set Goals and Be Productive</h2>
        Some say that hope is the combination of a vision and knowing a pathway to get there. Define some goals that really get you excited. Write a step-by-step plan on how you can achieve each goal. Think about obstacles that might get in your way and how you will handle them. Taking action and being productive will contribute to your happiness, without a doubt. Pick up your pencils. Begin.
      </div >
      <br>
      <div class='pics_and_associated_material'>
        <img src="/img/happy_flowers.png" alt="happy flowers picture">
        <br>
        Author unknown (but probably very happy)
        <br>
        <a class='source' href="https://clipartfest.com/categories/view/108b2db7415c8f3d7f23b7a7ecf9a13bf74c6d8b/smiley-face-flower-clipart.html">original source</a>
      </div>
      <div class=ways_to_get_happy>
        <h2>Eat Healthy Food</h2>
        Eating a variety of healthy foods can do wonders for your outlook. Avoid heavy carbs and sugar; they can bring you down. Eat lots of protein, and don't forget to drink water!
        <br>
        <h3>Food Choices</h3>
        <table>
          <tr>
            <th>Food</th>
            <th>How You Feel When You Eat It</th>
            <th>Substitution</th>
          </tr>
          <tr>
            <td>donuts</td>
            <td>blah</td>
            <td>kale</td>
          </tr>
          <tr>
            <td>soda pop</td>
            <td>jittery</td>
            <td>water</td>
            <tr>
              <td>french fries</td>
              <td>greasy and bloated</td>
              <td>grass-fed beef patty with tomato</td>
            </tr>
          </table>
        </div>
        <p id='link_to_related_site'>
          <a href="http://www.webmd.com/balance/guide/choosing-to-be-happy">Click here to see other ways to be happy!</a>
        </p>
        <div id='cow_container'>
          <div class='cow-pic-left' >
            <p class='cow-pic-intro'> It is a well-known fact that cows deliver happiness! This cow that has an important message for you! </p>
            <%=@cow_quote%>
          </div>
          <div class='cow-pic-right' >
            <p class='cow-pic-intro'> The people of Bull Frog, WA, are some of the happiest people in the world. Here is the Bull Frog weather forecast, taken from the Washington State Department of Transportation. These people are going places!</p>
            <%=@cow_weather%></p>
          </div>
        </div>
        <br>
        <br>
        <br>
    </main>


