
    <main>
    <h1>How to Be Happy</h1>
    <div class='pics_and_associated_material_header' >
      <img id="header_image" src="happy_with_balloons.jpeg" alt="happy balloon picture">
      <br>
      Smileystore.com
      <br>
      <a href="http://www.smileystore.com/12017/Smiley-Face-Balloons">original source</a>
    </div>
    <p
      id='follow_steps'><strong>Follow these easy steps, and you will find your happiness level goes up, up, and away!</strong>
    </p>
    <div class=ways_to_get_happy>
      <h2>Exercise Every Day</h2>
      <ol>
        <li> work out with a friend, or go to a group exercise class</li>
        <li> choose an activity that is fun</li>
        <li> listen to music that is <em>motivational</em></li>
        <li> do some weightlifting - your muscles will get strong!</li>
      </ol>
      <a href="https://draxe.com/benefits-of-exercise/">Click here to see the benefits of exercise!</a>
    </div>
    <br>
    <div class=ways_to_get_happy>
      <h2>Set Goals and Be Productive</h2>
      Some say that hope is the combination of a vision and knowing a pathway to get there. Define some goals that really get you excited. Write a step-by-step plan on how you can achieve each goal. Think about obstacles that might get in your way and how you will handle them. Taking action and being productive will contribute to your happiness, without a doubt. Pick up your pencils. Begin.
    </div >
    <br>
    <div class='pics_and_associated_material'>
      <img src="/public/img/happy_flowers.png" alt="happy flowers picture">
      <br>
      Author unknown (but probably very happy)
      <br>
      <a href="https://clipartfest.com/categories/view/108b2db7415c8f3d7f23b7a7ecf9a13bf74c6d8b/smiley-face-flower-clipart.html">original source</a>
    </div>
    <div class=ways_to_get_happy>
      <h2>Eat Healthy Food</h2>
      Eating a variety of healthy foods can do wonders for your outlook. Avoid heavy carbs and sugar; they can bring you down. Eat lots of protein, and don't forget to drink water!
      <br>
      <h3>Food Choices</h3>
      <table>
        <tr>
          <th>Food</th>
          <th>How You Feel When You Eat It</th>
          <th>Substitution</th>
        </tr>
        <tr>
          <td>donuts</td>
          <td>blah</td>
          <td>kale</td>
        </tr>
        <tr>
          <td>soda pop</td>
          <td>jittery</td>
          <td>water</td>
          <tr>
            <td>french fries</td>
            <td>greasy and bloated</td>
            <td>grass-fed beef patty with tomato</td>
          </tr>
        </table>
        <br>
      </div>
      <p id='quote-of-day'>Inspirational Quote of the Day: <%=@quote.quotation_text%>
      <p id='link_to_related_site'>
        <a href="http://www.webmd.com/balance/guide/choosing-to-be-happy">Click here to see other ways to be happy!</a>
      </p>
      <br>
      </main>
      <div class="pics_and_associated_material pics_and_associated_material_bottom">
        <img src="happy_face.png" alt="happy face picture">
        <br>
        <a href="https://clipartfest.com/categories/view/108b2db7415c8f3d7f23b7a7ecf9a13bf74c6d8b/smiley-face-flower-clipart.html">original source</a>
      </div>
      <div class="pics_and_associated_material pics_and_associated_material_bottom">
        <img src="happy_face.jpeg" alt="happy face on beach picture">
        <br>
        <a href="https://s-media-cache-ak0.pinimg.com/originals/98/d9/9c/98d99ca52edd7a751a0f36113d5359a8.jpg">original source</a>
      </div>

